@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

:root{
    --primary: #FCEE0C;
    --secondary: #03d7f3;
    --background: #e1e7f1;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    height: 45px;
}

body{
    font-family: 'Ubuntu';
}

.container{
    /* margin: 8px; */
    display: grid;
    grid-template-columns: 360px repeat(3, 1fr); 
    /* grid-auto-rows: 320px; */
    /* gap: 16px; */
}

/* Sidebar Section */

.sidebar{
    /* border: 1px solid black; */
    grid-row: 1/span 2;
    /* background-color: var(--secondary); */
    padding: 24px;

}

.logo, .item{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img{
    height: 72px;
}

.logo{
    margin-bottom: 3rem;
    font-size: 1.3rem;
}

.top-items, .bottom-items{
    margin-bottom: 7rem;
    font-size: 1.6rem;
}

.item img{
    height: 42px;
    margin-left: 12px;
}

.item{
    margin: 16px auto;
}

/* Header Section */

.header{
    /* border: 1px solid black; */
    grid-column: 2/ span 3;
    /* height: 75%; */
    /* margin-bottom: 10px; */
}

.top-bar{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    padding: 16px 36px;
}

.search-bar img{
    height: 32px;
}

input{
    background-color: var(--background);
    width: 50rem;
    border-radius: 28px;
    height: 36px;
    border: 0;
    padding: 16px;
    font-size: 16px;
    outline: 0;
}

.search-bar, .profile{
    display: flex;
    align-items: center;
    gap: 26px;
}

.profile img{
    height: 32px;
}

.profile strong{
    font-size: 22px;
    margin-right: 64px;
}

#picture{
    height: 72px;
    width: 64px;
    border-radius: 50%;
}

 /* Naigation Bar Section*/

.nav{
    display: flex;
    justify-content: space-between;
    /* border: 1px solid black; */
    margin: 16px 72px;
}

.profile-tag, .buttons{
    display: flex;
    align-items: center;
}

.profile-icon img{
    height: 96px;
    width: 80px;
    border-radius: 50%;
    margin-right: 16px;
}

.profile-text{
    line-height: 32px;
}

.profile-text p{
    font-weight: bold;
}

.buttons ul{
    display: flex;
    gap: 36px;
}

.buttons li{
    border: 3px solid black;
    border-radius: 36px;
    padding: 12px 36px;
    /* width: 120px;
    height: 50px; */
    text-align: center;
}

/* Main Section */

.main{
    /* border: 2px solid black; */
    grid-column: 2/ span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-auto-rows: 220px; */
    gap: 24px;
    padding: 16px 36px;
    /* background-color: var(--background); */
    margin-top: 24px;
}

.projects{
    /* border: 1px solid black; */
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 36px;
}

.projects h2{
    font-size: 1.8rem;
}

.article-item{
    /* border: 1px solid black; */
    padding: 30px 16px;
    border-left: 12px solid black;
    border-radius: 8px;
    font-size: 18px;
}

.content h3{
    margin-bottom: 12px;
}

.announcements{
    /* border: 1px solid black; */
    /* grid-column-start: 3; */
    padding: 24px;
}

.announcements h2{
    margin-bottom: 24px;
    font-size: 1.8rem;
}

.announcement-items{
    margin: 8px 36px;
    margin-right: 48px;
    padding: 16px;
    border-bottom: 1px solid gray;
}
.announcement-items h3{
    margin-bottom: 8px;
}

.icons ul{
    /* border: 1px solid black; */
    display: flex;
    justify-content: end;
    margin-top: 16px;
}

.icons img{
    height: 25px;
}

.projects h2{
    grid-column: span 3;
}

.trending{
    grid-column: 3/4;
    /* border: 1px solid black; */
    margin: 8px 36px;
    padding: 16px;
}

.trending h2{
    margin-bottom: 36px;
    font-size: 1.6rem;
}

.trending img{
    height: 72px;
    border-radius: 50%;

}

.trending-items{
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom: 24px;
}

li{
    list-style-type: none;
}